{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css'%}" />
</head>
<body class="theme-cream" style="margin: 0; height: 100vh; display: flex; flex-direction: column; overflow: hidden;background-image: url('{% static 'BackGroundLogin.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <header class="header">
        <div class="container" style="display: flex; justify-content: center;">
            <nav class="nav" aria-label="Primary navigation">
                <p class="brand" style="margin: 0;">
                    <span style="display: inline-block; margin-top: 15px; margin-bottom: 15px; font-size: 24px;"> Sweet Сookie Paradise </span>
                </p>
            </nav>
        </div>
    </header>
   


    
    <script src="{% static 'theme.js' %}"></script>
</body>
</html>
